body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
}
  
form {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    background-color: #fff;
    max-width: 500px; 
    width: 90%;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
}
  
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
  

button {
    background-color: white;
    border-color: rgb(6, 212, 178);
    border-style: solid;
    border-width: 1px;
    color: rgb(6, 212, 178);
    height: 36px;
    width: 62px;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.15s , color 0.15s;
}
  
button:hover {
    background-color: rgb(6, 212, 178);
    color: white;
}

button:active {
    opacity: 0.7;
}
  